BASE_URL="https://..."

USER_EMAIL="example@gmail.com"
USER_PASSWORD="user_password"
USER_PHONE="+380*********"
USER_ID=""

USER2_EMAIL="example@gmail.com"
USER2_PASSWORD="user2_password"
USER2_PHONE="+380*********"
USER2_ID=""

ADMIN_EMAIL="admin@gmail.com"
ADMIN_PASSWORD="admin_password"
