BASE_URL="https://..."

USER_EMAIL="example@gmail.com"
USER_PASSWORD="user_password"
USER_PHONE="+380*********"
USER_ID=
USER_FIRST_NAME=
USER_LAST_NAME=

NEW_USER_EMAIL=
NEW_USER_PASSWORD=

ADMIN_EMAIL=
ADMIN_PASSWORD=
